
*{
    margin: 0;
    padding: 0;
}

html,body,.container {
    height:100%;
}

.leftMenu {
    color: black
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height:100%
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    transition: all 0.3s;
        
}

#sidebar.active {
    margin-left: -300px;
}

.hover-nav:hover:before{
    color: rgba(233, 30, 99, 0.3)
}

.scroll {
    overflow: scroll;
}

li {list-style-type: none;}

.waves-effect.waves-teal .waves-ripple {
    background-color: #a7ffeb
}

.header-sidebar {
    background: linear-gradient(to left, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/* #nav-user {
    overflow: hidden;
    background-color: rgba(233, 30, 99, 0.3);
    color: white;
    position: fixed;

} */






