<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Mini Wordpress</title>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/css/wysiwyg.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" rel="stylesheet">

        <meta name="google-signin-client_id" content="299733928822-cq5dvg61rfvvn07vj1po12e9ful75hjn.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body >
        <div id="app"  >
            <div v-if="user" id="userpage">
                <div class="row">
                    <div class="col-12 rgba-white-strong header fixed-top navbar-expand-lg " style="width: 100%">
                        <nav class="navbar navbar-dark rgba-white-strong" >
                            <i  v-on:click.prevent="changePage('addArticle')" class="fas fa-pen fa-2x " style="cursor:pointer"></i>                                    
                            <img v-on:click.prevent="changePage('articles')" src="assets/img/35d40810-e827-4c48-8526-6c94fc7ad112.png" style="height: 70px; width: 230px; cursor:pointer"> 
                            <i @click="logout" style="color:black;cursor: pointer;" class="fas fa-sign-out-alt fa-2x hover-nav"></i> 
                        </nav>
                    </div>
                </div>
                
                <div class="wrapper" style="margin-top: 5%">

                                                <!-- <ul>
                                <li >
                                    <h6 class="btn btn-white waves-effect waves-teal d-flex z-depth-2"  v-on:click.prevent="changePage('articles')" style="cursor:pointer;border-radius:15px">
                                        <i class="far fa-file-alt fa-2x align-self-start col-3 justify-content-start"></i>
                                        <span class="sv-normal col-9">Articles</span>
                                    </h6>
                                </li>
                                <br>
                                <li >
                                    <h6 class="btn btn-white waves-effect waves-teal d-flex z-depth-2"  v-on:click.prevent="changePage('addArticle')" style="cursor:pointer;border-radius:15px">
                                        <span class="sv-normal col-9">Write New Article</span>
                                    </h6>
                                </li>
                                <br>
                            </ul>   -->
                    <div class="content d-flex justify-content-center scroll" style="width:100%; color:white">

                        <div v-if="page == 'articles' " id="articles" style="width:98%;" >
                            <all-articles :allarticles="articles" @update-articlelist="allArticles"></all-articles>
                        </div>  

                        <div v-else-if="page == 'addArticle'" id="addArticle" class="card text-center align-self-center" style="height:95%;width: 80%;">
                            <div class="card-header  blue-gradient z-depth-4 z-depth-2"   >
                                New Article 
                            </div>
                            <add-article @add-article="addArticle"></add-article>
                        </div>   
                        
        
                    </div>
                </div>  
                
                <footer class="rgba-white-strong z-depth-4" style="width: 100%;background: linear-gradient(to left, #BFE6BA, #D3959B)">
                    <div class="footer-copyright text-center py-3"><strong>© 2019 Copyright:WrityWrite</strong></div>
                </footer>
            </div>

            <div v-else id="welcomepage" style="height:100vh; background: linear-gradient(to left, #BFE6BA, #D3959B);" class="row  align-content-center" >
                <div class="col-md-4 offset-md-4"> 
                    <div class="card" style="border-radius: 15px">
                        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist" >
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                                Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                                Register</a>
                            </li>
                        </ul>
        
                        <div class="tab-content">
                            
                            <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                                <div class="modal-body mb-1">
                                    <login-user @login-success="checkUser" @signin-google="checkUser"></login-user>
                                </div>                            
                            </div>
        
                            <div class="tab-pane fade" id="panel8" role="tabpanel">
            
                                <register-user></register-user>
                                
                                <div class="card-footer">
                                    <div class="options text-right">
                                        <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>
        <script src="./assets/js/vueWysiwyg.js"></script>

        <script >

        </script>

        <script src="assets/components/login.js"></script>
        <script src="assets/components/articles.js"></script>
        <script src="assets/components/register.js"></script>
        <script src="assets/components/add-article.js"></script>
        <script src="assets/components/main.js"></script>


    </body>


</html>